*{
    padding: 0;
    margin: 0;
}
h1{
    margin-top: 20px;
    color: #323031;
}
body{
    background-color: #5F5B6B;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.main{  
    height: 370px;
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box{
    height: 110px;
    width: 110px;
    border-radius: 10px;
    border: none;
    box-shadow: 0,0,10px white;
    font-size: 70px;
    color:#3D3B3C;
}
#reset{
    width: 70px;
    height: 30px;
    color: #3D3B3C;
    font-size: 16px;
    box-shadow: 0,0,10px white;
    border-radius: 10px;
    border: none;
}
#newGame{
    width: 100px;
    height: 30px;
    color: #3D3B3C;
    font-size: 16px;
    box-shadow: 0,0,10px white;
    border-radius: 10px;
    border: none;
}
#msg{
    color: #C1BDB3;
    font-size: 40px;
}
.msg-container{
    height: 260px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


}
.hide{
    display: none;
}
